div {
    background-color: black;
    color: white;
    float:center;
}


.div1 {
  position: relative;
  float:center;
  width: 400px;
  height: 200px;
  text: 50%;
  left:30%;
  border: 3px solid #73AD21;
} 

.div2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  border: 3px solid #73AD21;
}
.div3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid #73AD21;
  }