div {
    background-color: black;
    color: white;
    
}

.div1 {
  position: relative;
  float:center;
  width: 400px;
  height: 400px;
  top: 50%;
  left:30%;
  border: 3px solid #73AD21;
} 

.div2 {
  position: absolute;
  top: 300px;
  right: 0;
  width: 100px;
  height: 100px;
  border: 3px solid #73AD21;
}
