div {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}

.div1 {
  float: right;
}

.div2 {
  float: left;
}

.div3{
    float: center;
    position: relative;
    left: 950px;
    
}