div {
    background-color: black;
    color: white;
    float:center;
}


.div1 {
  position: relative;
  float:center;
  width: 400px;
  height: 400px;
  text: 50%;
  left:30%;
  border: 3px solid #73AD21;
} 

.div2 {
  position: absolute;
  top: 150px;
  right: 150px;
  width: 100px;
  height: 100px;
  border: 3px solid #73AD21;
}

