
.map{
    width: 600px;
    height: 730px;
    border: 1px solid black;
    margin: 2px auto;
    /* cursor: none;*/
    position: relative;
    overflow: hidden;
    }
    
.backgroundmap{
    width: 600px;
    height: 730px;
    background: url("../static/background.jpg")0 0 no-repeat;
    background-size: cover;
    position: absolute;
        }