<form action="/my-handling-form-page" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name" placeholder="input your name" />
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input id="mail" name="user_mail" type="email" placeholder="enter your email" />
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message" placeholder="enter your message"></textarea>
    </div>

    
    <p>Please select your gener or select prefer not to say</p>
    <select>
        <option value="red">red</option>
        <option value="blue">blue</option>
        <option value="yellow">yellow</option>
        <option value="black">black</option>
    </select>

    <div>
        <label for = "submit">Please Submit:</label>
        <input type ="text">
    </div>